<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Encrypt/Decrypt App</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<div class="container">
		<h1 class="mt-5">T9 Keyboard Translator</h1>
		<form id="messageForm">
			<div class="form-group">
				<label for="message">Message</label>
				<input type="text" class="form-control" id="message" name="message" placeholder="Enter your message">
			</div>
			<button type="submit" class="btn btn-primary">Process</button>
		</form>
		<div class="mt-3">
			<h3>Result:</h3>
			<p id="result"></p>
			<button class="btn btn-secondary" id="copyButton">Copy to Clipboard</button>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#messageForm').on('submit', function (e) {
				e.preventDefault();
				$.ajax({
					type: 'POST',
					url: '/process',
					data: $(this).serialize(),
					success: function (response) {
						$('#result').text(response.result);
					}
				});
			});

			$('#copyButton').on('click', function () {
				const resultText = document.getElementById('result').innerText;
				navigator.clipboard.writeText(resultText).then(() => {
					alert('Copied to clipboard');
				});
			});
		});
	</script>
</body>

</html>